/*

_layout.scss
=============================
layout css

*/
body{
    background: #000;
}
@-webkit-keyframes anime01 {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 1; }
}
@-webkit-keyframes anime02 {
    0%   { display: none; }
    50%  { display: block; }
    100% { display: none; }
}
// button style
.button {
    margin: 0;
    padding: 7px 16px;
    background-color: #459ec7;
    border-radius: 4px;
    border: 1px solid #13719c;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    &:hover {
        background-color: #308cc9;
    }
    &[desabled]{
        border: 1px solid #767575;
        background-color: #c6c6c6;
        color: #939292;
        text-shadow: none;
        cursor: default;
        &:active {
            position: relative;
            top: 0;
        }
    }
}
.closed_button{
    position:relative;
    display:block;
    width:40px;
    height:40px;
    border-radius:50px;
    border:4px solid #333;
    &::after,&::before{
        display:block;
        content:'';
        position:absolute;
        top:12.5px;
        left:4px;
        height:6px;
        width:24px;
        background:#333;
        border-radius:10px;
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
    }
    &::after{
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
    }
}
.mask_layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
.container{
    position: relative;
    width: 320px;
    height: 480px;
    margin: 0 auto;
    padding: 0 0 20px;
    background: url(../img/diamond_dash_bg.jpg) no-repeat 0 0;
    @include background-size(cover);
    .modal{
        display: table;
        position: absolute;
        bottom: 8px;
        left: 50%;
        z-index: 999;
        margin-left: -150px;
        width: 300px;
        height: 102px;
        border: 4px solid #008C9E;
        border-radius: 8px;
        background-color: #eff7f8;
        .text{
            display: table-cell;
            vertical-align: middle;
            color: #333;
            text-align: center;
            font-size: 14px;
            line-height: 1.6;
        }
    }
}

.header{
    position: relative;
    width: 320px;
    height: 80px;
    .score{
        position: absolute;
        top: 43px;
        left: 12px;
        width: 268px;
        height: 24px;
        padding: 3px 10px;
        color: yellow;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        >b{
            float: right;
            display: inline-block;
            text-align: right;
        }
        &::after{
            content:' ';
            display:block;
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            z-index:100;
            background-image:-webkit-linear-gradient(#2f2d1d 1px, transparent 0px),-webkit-linear-gradient(0, #2f2d1d 1px, transparent 1px);
            background-size:2px 2px, 2px 2px;
        }
    }
    .reload{
        position: absolute;
        top: 40px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: url(../img/reload.jpg) no-repeat 0 0;
        @include background-size(cover);
    }
}

#grid{
    overflow: hidden;
    position: relative;
    width: 294px;
    height: 336px;
    margin: 3px 13px;
    >li{
        width: 42px;
        height: 42px;
        // &:nth-child(2){
        //     left: 42px;
        // }
        // &:nth-child(3){
        //     left: 84px;
        // }
        // &:nth-child(4){
        //     left: 126px;
        // }
        // &:nth-child(5){
        //     left: 168px;
        // }
        // &:nth-child(6){
        //     left: 210px;
        // }
        // &:nth-child(7){
        //     left: 252px;
        // }
        &.gem{
            position: absolute;
            width: 42px;
            height: 42px;
            background-image: url(../img/jems.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            @include background-size(cover);
            transition: all 0.2s ease-in-out 0.2s;
            &.color_0{//red
                background-position: 0 0;
            }
            &.color_1{//blue
                background-position: -42px 0;
            }
            &.color_2{//green
                background-position: -84px 0;
            }
            &.color_3{//yellow
                background-position: -126px 0;
            }
            &.color_4{//perple
                background-position: -168px 0;
            }
            &.X0_Y0{
                bottom: 0;
                left: 0;
            }
            &.X0_Y1{
                bottom: 42px;
                left: 0;
            }
            &.X0_Y2{
                bottom: 84px;
                left: 0;
            }
            &.X0_Y3{
                bottom: 126px;
                left: 0;
            }
            &.X0_Y4{
                bottom: 168px;
                left: 0;
            }
            &.X0_Y5{
                bottom: 210px;
                left: 0;
            }
            &.X0_Y6{
                bottom: 252px;
                left: 0;
            }
            &.X0_Y7{
                bottom: 294px;
                left: 0;
            }
            &.X0_Y8{
                bottom: 336px;
                left: 0;
            }
            &.X0_Y9{
                bottom: 378px;
                left: 0;
            }
            &.X0_Y10{
                bottom: 420px;
                left: 0;
            }
            &.X0_Y11{
                bottom: 462px;
                left: 0;
            }
            &.X0_Y12{
                bottom: 504px;
                left: 0;
            }
            &.X0_Y13{
                bottom: 546px;
                left: 0;
            }
            &.X0_Y13{
                bottom: 588px;
                left: 0;
            }
            &.X0_Y14{
                bottom: 630px;
                left: 0;
            }
            &.X0_Y15{
                bottom: 672px;
                left: 0;
            }
            &.X1_Y0{
                bottom: 0;
                left: 42px;
            }
            &.X1_Y1{
                bottom: 42px;
                left: 42px;
            }
            &.X1_Y2{
                bottom: 84px;
                left: 42px;
            }
            &.X1_Y3{
                bottom: 126px;
                left: 42px;
            }
            &.X1_Y4{
                bottom: 168px;
                left: 42px;
            }
            &.X1_Y5{
                bottom: 210px;
                left: 42px;
            }
            &.X1_Y6{
                bottom: 252px;
                left: 42px;
            }
            &.X1_Y7{
                bottom: 294px;
                left: 42px;
            }
            &.X1_Y8{
                bottom: 336px;
                left: 42px;
            }
            &.X1_Y9{
                bottom: 378px;
                left: 42px;
            }
            &.X1_Y10{
                bottom: 420px;
                left: 42px;
            }
            &.X1_Y11{
                bottom: 462px;
                left: 42px;
            }
            &.X1_Y12{
                bottom: 504px;
                left: 42px;
            }
            &.X1_Y13{
                bottom: 546px;
                left: 42px;
            }
            &.X1_Y13{
                bottom: 588px;
                left: 42px;
            }
            &.X1_Y14{
                bottom: 630px;
                left: 42px;
            }
            &.X1_Y15{
                bottom: 672px;
                left: 42px;
            }
            &.X1_Y0{
                bottom: 0;
                left: 42px;
            }
            &.X2_Y0{
                bottom: 0;
                left: 84px;
            }
            &.X2_Y1{
                bottom: 42px;
                left: 84px;
            }
            &.X2_Y2{
                bottom: 84px;
                left: 84px;
            }
            &.X2_Y3{
                bottom: 126px;
                left: 84px;
            }
            &.X2_Y4{
                bottom: 168px;
                left: 84px;
            }
            &.X2_Y5{
                bottom: 210px;
                left: 84px;
            }
            &.X2_Y6{
                bottom: 252px;
                left: 84px;
            }
            &.X2_Y7{
                bottom: 294px;
                left: 84px;
            }
            &.X2_Y8{
                bottom: 336px;
                left: 84px;
            }
            &.X2_Y9{
                bottom: 378px;
                left: 84px;
            }
            &.X2_Y10{
                bottom: 420px;
                left: 84px;
            }
            &.X2_Y11{
                bottom: 462px;
                left: 84px;
            }
            &.X2_Y12{
                bottom: 504px;
                left: 84px;
            }
            &.X2_Y13{
                bottom: 546px;
                left: 84px;
            }
            &.X2_Y13{
                bottom: 588px;
                left: 84px;
            }
            &.X2_Y14{
                bottom: 630px;
                left: 84px;
            }
            &.X2_Y15{
                bottom: 672px;
                left: 84px;
            }
            &.X3_Y0{
                bottom: 0;
                left: 126px;
            }
            &.X3_Y1{
                bottom: 42px;
                left: 126px;
            }
            &.X3_Y2{
                bottom: 84px;
                left: 126px;
            }
            &.X3_Y3{
                bottom: 126px;
                left: 126px;
            }
            &.X3_Y4{
                bottom: 168px;
                left: 126px;
            }
            &.X3_Y5{
                bottom: 210px;
                left: 126px;
            }
            &.X3_Y6{
                bottom: 252px;
                left: 126px;
            }
            &.X3_Y7{
                bottom: 294px;
                left: 126px;
            }
            &.X3_Y8{
                bottom: 336px;
                left: 126px;
            }
            &.X3_Y9{
                bottom: 378px;
                left: 126px;
            }
            &.X3_Y10{
                bottom: 420px;
                left: 126px;
            }
            &.X3_Y11{
                bottom: 462px;
                left: 126px;
            }
            &.X3_Y12{
                bottom: 504px;
                left: 126px;
            }
            &.X3_Y13{
                bottom: 546px;
                left: 126px;
            }
            &.X3_Y13{
                bottom: 588px;
                left: 126px;
            }
            &.X3_Y14{
                bottom: 630px;
                left: 126px;
            }
            &.X3_Y15{
                bottom: 672px;
                left: 126px;
            }
            &.X4_Y0{
                bottom: 0;
                left: 168px;
            }
            &.X4_Y1{
                bottom: 42px;
                left: 168px;
            }
            &.X4_Y2{
                bottom: 84px;
                left: 168px;
            }
            &.X4_Y3{
                bottom: 126px;
                left: 168px;
            }
            &.X4_Y4{
                bottom: 168px;
                left: 168px;
            }
            &.X4_Y5{
                bottom: 210px;
                left: 168px;
            }
            &.X4_Y6{
                bottom: 252px;
                left: 168px;
            }
            &.X4_Y7{
                bottom: 294px;
                left: 168px;
            }
            &.X4_Y8{
                bottom: 336px;
                left: 168px;
            }
            &.X4_Y9{
                bottom: 378px;
                left: 168px;
            }
            &.X4_Y10{
                bottom: 420px;
                left: 168px;
            }
            &.X4_Y11{
                bottom: 462px;
                left: 168px;
            }
            &.X4_Y12{
                bottom: 504px;
                left: 168px;
            }
            &.X4_Y13{
                bottom: 546px;
                left: 168px;
            }
            &.X4_Y13{
                bottom: 588px;
                left: 168px;
            }
            &.X4_Y14{
                bottom: 630px;
                left: 168px;
            }
            &.X4_Y15{
                bottom: 672px;
                left: 168px;
            }
            &.X5_Y0{
                bottom: 0;
                left: 210px;
            }
            &.X5_Y1{
                bottom: 42px;
                left: 210px;
            }
            &.X5_Y2{
                bottom: 84px;
                left: 210px;
            }
            &.X5_Y3{
                bottom: 126px;
                left: 210px;
            }
            &.X5_Y4{
                bottom: 168px;
                left: 210px;
            }
            &.X5_Y5{
                bottom: 210px;
                left: 210px;
            }
            &.X5_Y6{
                bottom: 252px;
                left: 210px;
            }
            &.X5_Y7{
                bottom: 294px;
                left: 210px;
            }
            &.X5_Y8{
                bottom: 336px;
                left: 210px;
            }
            &.X5_Y9{
                bottom: 378px;
                left: 210px;
            }
            &.X5_Y10{
                bottom: 420px;
                left: 210px;
            }
            &.X5_Y11{
                bottom: 462px;
                left: 210px;
            }
            &.X5_Y12{
                bottom: 504px;
                left: 210px;
            }
            &.X5_Y13{
                bottom: 546px;
                left: 210px;
            }
            &.X5_Y13{
                bottom: 588px;
                left: 210px;
            }
            &.X5_Y14{
                bottom: 630px;
                left: 210px;
            }
            &.X5_Y15{
                bottom: 672px;
                left: 210px;
            }
            &.X6_Y0{
                bottom: 0;
                left: 252px;
            }
            &.X6_Y1{
                bottom: 42px;
                left: 252px;
            }
            &.X6_Y2{
                bottom: 84px;
                left: 252px;
            }
            &.X6_Y3{
                bottom: 126px;
                left: 252px;
            }
            &.X6_Y4{
                bottom: 168px;
                left: 252px;
            }
            &.X6_Y5{
                bottom: 210px;
                left: 252px;
            }
            &.X6_Y6{
                bottom: 252px;
                left: 252px;
            }
            &.X6_Y7{
                bottom: 294px;
                left: 252px;
            }
            &.X6_Y8{
                bottom: 336px;
                left: 252px;
            }
            &.X6_Y9{
                bottom: 378px;
                left: 252px;
            }
            &.X6_Y10{
                bottom: 420px;
                left: 252px;
            }
            &.X6_Y11{
                bottom: 462px;
                left: 252px;
            }
            &.X6_Y12{
                bottom: 504px;
                left: 252px;
            }
            &.X6_Y13{
                bottom: 546px;
                left: 252px;
            }
            &.X6_Y13{
                bottom: 588px;
                left: 252px;
            }
            &.X6_Y14{
                bottom: 630px;
                left: 252px;
            }
            &.X6_Y15{
                bottom: 672px;
                left: 252px;
            }
        }
    }
}
.status{
    width: 320px;
    height: 58px;
    padding: 4px 10px 20px;
    .gauge{
        width: 300px;
        height: 22px;
        background-color: #555c5f;
        border: 3px solid #000;
        .bar{
            display: inline-block;
            height: 16px;
            background-color: #64bfe5;
            text-align: center;
        }
        .second{
            font-size: 16px;
            line-height: 19px;
        }
    }
}
.opening{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    .start_button{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 120px;
        height: 44px;
        margin: auto;
        border: 1px solid #173940;
        border-radius: 10px;
        background-color: #00b4cc;
        line-height: 33px;
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
}
@-webkit-keyframes animation_deleted{
    0%{-webkit-transform: scale(0.9);}
    50%{-webkit-transform: scale(1.1);}
    80%{-webkit-transform: scale(1);}
    100%{-webkit-transform: scale(0.1);}
}
.anm_deleted{
    @include animation(animation_deleted 0.3s ease-in-out);
}