/*

_layout.scss
=============================
layout css

*/
body{
    background: #000;
}
@-webkit-keyframes anime01 {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 1; }
}
@-webkit-keyframes anime02 {
    0%   { display: none; }
    50%  { display: block; }
    100% { display: none; }
}
// button style
.button {
    margin: 0;
    padding: 7px 16px;
    background-color: #459ec7;
    border-radius: 4px;
    border: 1px solid #13719c;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    text-align: center;
    &:hover {
        background-color: #308cc9;
    }
    &[desabled]{
        border: 1px solid #767575;
        background-color: #c6c6c6;
        color: #939292;
        text-shadow: none;
        cursor: default;
        &:active {
            position: relative;
            top: 0;
        }
    }
}
.closed_button{
    position:relative;
    display:block;
    width:40px;
    height:40px;
    border-radius:50px;
    border:4px solid #333;
    &::after,&::before{
        display:block;
        content:'';
        position:absolute;
        top:12.5px;
        left:4px;
        height:6px;
        width:24px;
        background:#333;
        border-radius:10px;
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
    }
    &::after{
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
    }
}
#mask_layer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
.game_start{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    bottom: 0;
    right: 0;
    width: 132px;
    height: 44px;
    margin: auto;
    line-height: 32px;
}
.re_start{
    display: none;
    position: absolute;
    top: 92px;
    left: 0;
    z-index: 1000;
    bottom: 0;
    right: 0;
    width: 132px;
    height: 44px;
    margin: auto;
    line-height: 32px;
}
.container{
    position: relative;
    width: 320px;
    height: 480px;
    margin: 0 auto;
    padding: 0 0 20px;
    background: url(../img/diamond_dash_bg.jpg) no-repeat 0 0;
    @include background-size(cover);
    .modal{
        display: table;
        position: absolute;
        bottom: 8px;
        left: 50%;
        z-index: 999;
        margin-left: -150px;
        width: 300px;
        height: 102px;
        border: 4px solid #008C9E;
        border-radius: 8px;
        background-color: #eff7f8;
        .text{
            display: table-cell;
            vertical-align: middle;
            color: #333;
            text-align: center;
            font-size: 14px;
            line-height: 1.6;
        }
    }
}

.header{
    position: relative;
    width: 320px;
    height: 80px;
    .score{
        position: absolute;
        top: 43px;
        left: 12px;
        width: 295px;
        height: 24px;
        padding: 3px 10px;
        @include box-sizing(border-box);
        color: yellow;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        >b{
            float: right;
            display: inline-block;
            text-align: right;
            &.result{
                float: none;
                height: 40px;
                position: absolute;
                z-index: 1000;
                top: 120px;
                left: 0;
                bottom: 0;
                right: 0;
                margin: 10px auto;
                line-height: 40px;
                font-size: 40px;
                text-align: center;
            }
        }
        &::after{
            content:' ';
            display:block;
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            z-index:100;
            background-image:-webkit-linear-gradient(#2f2d1d 1px, transparent 0px),-webkit-linear-gradient(0, #2f2d1d 1px, transparent 1px);
            background-size:2px 2px, 2px 2px;
        }
    }
}

#grid{
    overflow: hidden;
    position: relative;
    width: 294px;
    height: 336px;
    margin: 3px 13px;
    >li{
        position: relative;
        width: 42px;
        height: 42px;
        // &:nth-child(2){
        //     left: 42px;
        // }
        // &:nth-child(3){
        //     left: 84px;
        // }
        // &:nth-child(4){
        //     left: 126px;
        // }
        // &:nth-child(5){
        //     left: 168px;
        // }
        // &:nth-child(6){
        //     left: 210px;
        // }
        // &:nth-child(7){
        //     left: 252px;
        // }
        &.gem{
            position: absolute;
            width: 42px;
            height: 42px;
            background-image: url(../img/jems.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            @include background-size(cover);
            transition: all 0.2s ease-in-out 0.2s;
            &.color_0{//red
                background-position: 0 0;
            }
            &.color_1{//blue
                background-position: -42px 0;
            }
            &.color_2{//green
                background-position: -84px 0;
            }
            &.color_3{//yellow
                background-position: -126px 0;
            }
            &.color_4{//perple
                background-position: -168px 0;
            }
            &[gridposx="0"]{left: 0;}
            &[gridposx="1"]{left: 42px;}
            &[gridposx="2"]{left: 84px;}
            &[gridposx="3"]{left: 126px;}
            &[gridposx="4"]{left: 168px;}
            &[gridposx="5"]{left: 210px;}
            &[gridposx="6"]{left: 252px;}
            &[gridposy="15"]{bottom: 0;}
            &[gridposy="14"]{bottom: 42px;}
            &[gridposy="13"]{bottom: 84px;}
            &[gridposy="12"]{bottom: 126px;}
            &[gridposy="11"]{bottom: 168px;}
            &[gridposy="10"]{bottom: 210px;}
            &[gridposy="9"]{bottom: 252px;}
            &[gridposy="8"]{bottom: 294px;}
            &[gridposy="7"]{bottom: 336px;}
            &[gridposy="6"]{bottom: 378px;}
            &[gridposy="5"]{bottom: 420px;}
            &[gridposy="4"]{bottom: 462px;}
            &[gridposy="3"]{bottom: 504px;}
            &[gridposy="2"]{bottom: 546px;}
            &[gridposy="1"]{bottom: 588px;}
            &[gridposy="0"]{bottom: 630px;}
        }
    }
}
#grid #id0_0 {
  left: 0px;
  bottom: 630px;
}
#grid #id0_1 {
  left: 0px;
  bottom: 588px;
}
#grid #id0_2 {
  left: 0px;
  bottom: 546px;
}
#grid #id0_3 {
  left: 0px;
  bottom: 504px;
}
#grid #id0_4 {
  left: 0px;
  bottom: 462px;
}
#grid #id0_5 {
  left: 0px;
  bottom: 420px;
}
#grid #id0_6 {
  left: 0px;
  bottom: 378px;
}
#grid #id0_7 {
  left: 0px;
  bottom: 336px;
}
#grid #id0_8 {
  left: 0px;
  bottom: 294px;
}
#grid #id0_9 {
  left: 0px;
  bottom: 252px;
}
#grid #id0_10 {
  left: 0px;
  bottom: 210px;
}
#grid #id0_11 {
  left: 0px;
  bottom: 168px;
}
#grid #id0_12 {
  left: 0px;
  bottom: 126px;
}
#grid #id0_13 {
  left: 0px;
  bottom: 84px;
}
#grid #id0_14 {
  left: 0px;
  bottom: 42px;
}
#grid #id0_15 {
  left: 0px;
  bottom: 0;
}
#grid #id1_0 {
  left: 42px;
  bottom: 630px;
}
#grid #id1_1 {
  left: 42px;
  bottom: 588px;
}
#grid #id1_2 {
  left: 42px;
  bottom: 546px;
}
#grid #id1_3 {
  left: 42px;
  bottom: 504px;
}
#grid #id1_4 {
  left: 42px;
  bottom: 462px;
}
#grid #id1_5 {
  left: 42px;
  bottom: 420px;
}
#grid #id1_6 {
  left: 42px;
  bottom: 378px;
}
#grid #id1_7 {
  left: 42px;
  bottom: 336px;
}
#grid #id1_8 {
  left: 42px;
  bottom: 294px;
}
#grid #id1_9 {
  left: 42px;
  bottom: 252px;
}
#grid #id1_10 {
  left: 42px;
  bottom: 210px;
}
#grid #id1_11 {
  left: 42px;
  bottom: 168px;
}
#grid #id1_12 {
  left: 42px;
  bottom: 126px;
}
#grid #id1_13 {
  left: 42px;
  bottom: 84px;
}
#grid #id1_14 {
  left: 42px;
  bottom: 42px;
}
#grid #id1_15 {
  left: 42px;
  bottom: 0;
}
#grid #id2_0 {
  left: 80px;
  bottom: 630px;
}
#grid #id2_1 {
  left: 84px;
  bottom: 588px;
}
#grid #id2_2 {
  left: 84px;
  bottom: 546px;
}
#grid #id2_3 {
  left: 84px;
  bottom: 504px;
}
#grid #id2_4 {
  left: 84px;
  bottom: 462px;
}
#grid #id2_5 {
  left: 84px;
  bottom: 420px;
}
#grid #id2_6 {
  left: 84px;
  bottom: 378px;
}
#grid #id2_7 {
  left: 84px;
  bottom: 336px;
}
#grid #id2_8 {
  left: 84px;
  bottom: 294px;
}
#grid #id2_9 {
  left: 84px;
  bottom: 252px;
}
#grid #id2_10 {
  left: 84px;
  bottom: 210px;
}
#grid #id2_11 {
  left: 84px;
  bottom: 168px;
}
#grid #id2_12 {
  left: 84px;
  bottom: 126px;
}
#grid #id2_13 {
  left: 84px;
  bottom: 84px;
}
#grid #id2_14 {
  left: 84px;
  bottom: 42px;
}
#grid #id2_15 {
  left: 84px;
  bottom: 0;
}
#grid #id3_0 {
  left: 126px;
  bottom: 630px;
}
#grid #id3_1 {
  left: 126px;
  bottom: 588px;
}
#grid #id3_2 {
  left: 126px;
  bottom: 546px;
}
#grid #id3_3 {
  left: 126px;
  bottom: 504px;
}
#grid #id3_4 {
  left: 126px;
  bottom: 462px;
}
#grid #id3_5 {
  left: 126px;
  bottom: 420px;
}
#grid #id3_6 {
  left: 126px;
  bottom: 378px;
}
#grid #id3_7 {
  left: 126px;
  bottom: 336px;
}
#grid #id3_8 {
  left: 126px;
  bottom: 294px;
}
#grid #id3_9 {
  left: 126px;
  bottom: 252px;
}
#grid #id3_10 {
  left: 126px;
  bottom: 210px;
}
#grid #id3_11 {
  left: 126px;
  bottom: 168px;
}
#grid #id3_12 {
  left: 126px;
  bottom: 126px;
}
#grid #id3_13 {
  left: 126px;
  bottom: 84px;
}
#grid #id3_14 {
  left: 126px;
  bottom: 42px;
}
#grid #id3_15 {
  left: 126px;
  bottom: 0;
}
#grid #id4_0 {
  left: 168px;
  bottom: 630px;
}
#grid #id4_1 {
  left: 168px;
  bottom: 588px;
}
#grid #id4_2 {
  left: 168px;
  bottom: 546px;
}
#grid #id4_3 {
  left: 168px;
  bottom: 504px;
}
#grid #id4_4 {
  left: 168px;
  bottom: 462px;
}
#grid #id4_5 {
  left: 168px;
  bottom: 420px;
}
#grid #id4_6 {
  left: 168px;
  bottom: 378px;
}
#grid #id4_7 {
  left: 168px;
  bottom: 336px;
}
#grid #id4_8 {
  left: 168px;
  bottom: 294px;
}
#grid #id4_9 {
  left: 168px;
  bottom: 252px;
}
#grid #id4_10 {
  left: 168px;
  bottom: 210px;
}
#grid #id4_11 {
  left: 168px;
  bottom: 168px;
}
#grid #id4_12 {
  left: 168px;
  bottom: 126px;
}
#grid #id4_13 {
  left: 168px;
  bottom: 84px;
}
#grid #id4_14 {
  left: 168px;
  bottom: 42px;
}
#grid #id4_15 {
  left: 168px;
  bottom: 0;
}
#grid #id5_0 {
  left: 210px;
  bottom: 630px;
}
#grid #id5_1 {
  left: 210px;
  bottom: 588px;
}
#grid #id5_2 {
  left: 210px;
  bottom: 546px;
}
#grid #id5_3 {
  left: 210px;
  bottom: 504px;
}
#grid #id5_4 {
  left: 210px;
  bottom: 462px;
}
#grid #id5_5 {
  left: 210px;
  bottom: 420px;
}
#grid #id5_6 {
  left: 210px;
  bottom: 378px;
}
#grid #id5_7 {
  left: 210px;
  bottom: 336px;
}
#grid #id5_8 {
  left: 210px;
  bottom: 294px;
}
#grid #id5_9 {
  left: 210px;
  bottom: 252px;
}
#grid #id5_10 {
  left: 210px;
  bottom: 210px;
}
#grid #id5_11 {
  left: 210px;
  bottom: 168px;
}
#grid #id5_12 {
  left: 210px;
  bottom: 126px;
}
#grid #id5_13 {
  left: 210px;
  bottom: 84px;
}
#grid #id5_14 {
  left: 210px;
  bottom: 42px;
}
#grid #id5_15 {
  left: 210px;
  bottom: 0;
}
#grid #id6_0 {
  left: 252px;
  bottom: 630px;
}
#grid #id6_1 {
  left: 252px;
  bottom: 588px;
}
#grid #id6_2 {
  left: 252px;
  bottom: 546px;
}
#grid #id6_3 {
  left: 252px;
  bottom: 504px;
}
#grid #id6_4 {
  left: 252px;
  bottom: 462px;
}
#grid #id6_5 {
  left: 252px;
  bottom: 420px;
}
#grid #id6_6 {
  left: 252px;
  bottom: 378px;
}
#grid #id6_7 {
  left: 252px;
  bottom: 336px;
}
#grid #id6_8 {
  left: 252px;
  bottom: 294px;
}
#grid #id6_9 {
  left: 252px;
  bottom: 252px;
}
#grid #id6_10 {
  left: 252px;
  bottom: 210px;
}
#grid #id6_11 {
  left: 252px;
  bottom: 168px;
}
#grid #id6_12 {
  left: 252px;
  bottom: 126px;
}
#grid #id6_13 {
  left: 252px;
  bottom: 84px;
}
#grid #id6_14 {
  left: 252px;
  bottom: 42px;
}
#grid #id6_15 {
  left: 252px;
  bottom: 0;
}
.time_status{
    position: relative;
    width: 320px;
    height: 58px;
    padding: 4px 10px 20px;
    .gauge,.meter{
        overflow: hidden;
        width: 300px;
        height: 22px;
        // background-color: #555c5f;
        border: 3px solid #000;
        // .bar{
        //     display: inline-block;
        //     height: 16px;
        //     background-color: #64bfe5;
        //     text-align: center;
        //     @include transition-property(width);
        //     @include transition-duration(.2s);
        //     @include transition-timing-function(ease-in);
        // }
    }
    .second{
        position: absolute;
        top: 6px;
        left: 48%;
        font-size: 16px;
        line-height: 19px;
    }
    meter::-webkit-meter-bar {
      /* Let's animate this */
      animation: animate-stripes 5s linear infinite;
      background-size: 50px 25px;
    }
    meter::-webkit-meter-optimum-value {
      -webkit-transition: width .5s;
      background-color: #64bfe5;
    }
}
#timeup{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 44px;
    margin: auto;
    line-height: 36px;
    color: #f00;
    font-size: 36px;
    text-align: center;
}
.opening{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    .start_button{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 120px;
        height: 44px;
        margin: auto;
        border: 1px solid #173940;
        border-radius: 10px;
        background-color: #00b4cc;
        line-height: 33px;
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
}
.bottom_button{
    position: absolute;
    bottom: 4px;
    right: 3%;
    z-index: 1001;
    padding: 2px 16px;
}
#game_restart_button{
    display: none;
}
@-webkit-keyframes animation_deleted{
    0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1);}
    80%{-webkit-transform: scale(.5);}
    100%{-webkit-transform: scale(0);}
}
.anm_deleted{
    @include animation(animation_deleted 0.3s ease-in-out);
    -webkit-animation-fill-mode: forwards;
}
.alert{
    position: absolute;
    top: -104px;
    left: 50%;
    z-index: 1000;
    width: 280px;
    height: 100px;
    margin-left: -140px;
    padding: 50px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid #666;
    background-color: #fff;
    color: #333;
    text-align: center;
    transition: all 0.2s ease-in-out 0.2s;
    .button{
        .ok{
            padding: 14px 40px;
        }
    }
}